@import "../../utils/reboot";
@import "./form";

body {
  background: #dcdce6 !important;
  font-family: $Geral;
  color: $color1 !important;
}

.after {
  content: "";
  background: #dcdce6;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  height: 100%;
  z-index: 1068;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and(max-width:786px) {
    padding: 2em 1em;
    height: 100%;

    display: grid;
    place-content: center;
  }

  .row {
    width: 100%;
    padding: 96px;

    border-radius: 8px;
    display: flex;

    justify-content: space-between;
    align-items: center;

    @media only screen and(max-width:786px) {
      padding: 0px;
      margin: 0 auto;

      justify-content: center;
      height: 100%;
      flex-direction: column;
    }

    header {
      width: 100%;
      max-width: 380px;
      position: relative;
      text-align: center;

      @media only screen and(max-width:786px) {
        text-align: center;

        padding: 0 0em;
      }

      img {
        width: 300px;
        max-width: 0 auto;
      }

      h1 {
        margin: 64px 0 32px;
        font-size: 52px;
        font-weight: 300;
        color: #0f0f0fb2;

        @media only screen and(max-width:786px) {
          margin: 32px 0 32px;
        }
      }

      p {
        font-size: 18px;
        color: #737380;
        line-height: 32px;
      }
    }

    .form {
      margin-top: 4em;
      form {
        width: 100%;
        max-width: 450px;

        .input-group {
          display: flex;
          margin-top: 0.5em;

          input + input {
            margin-left: 8px;
          }
        }
      }

      input {
        margin-bottom: 8px;
      }
    }
  }
}
