@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
$Geral: "Poppins",
sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
$Global: "Montserrat",
sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
$Titi: "Titillium Web",
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
$Sen: "Sen",
sans-serif;