footer.foot {


    width: 100%;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;


    @media only screen and (max-width:414px) {
        padding: 32px 0;

    }

    .row {
        width: 90%;
        max-width: 940px;
        margin: 0 auto;
        padding: 4vh 0;

        @media only screen and (max-width:414px) {
            padding: 32px 0;
        }

        .col-top,
        .logo,
        .col-button {
            width: 100%;
            max-width: 500px;
            margin: 24px auto;


        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100px;

            }
        }

        .col-top {

            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 14px;
                font-family: $RobotoSlab;
                font-weight: 500;
                text-transform: uppercase;
                color: #202020;


                a {
                    color: rgb(255, 79, 79);
                    font-family: $Roboto;
                    font-weight: 900;
                }
            }
        }

        .col-button {

            margin-top: 36px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icons {
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 371px;
                margin: 0 auto;

                a {

                    width: 28px;
                    display: flex;
                    margin-right: 24px;
                    margin-left: 24px;

                    &:nth-child(1) {
                        margin-top: -0.25555em;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}