footer {
    width: 100%;
    height: 100px;
    padding: 24px;

    @media only screen and (max-width:800px) {
        height: auto;
    }

    .row {
        width: 90%;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-content: center;
        place-items: center;
        font-family: $Global;

        @media only screen and (max-width:800px) {
            grid-template-columns: 1fr;
        }

        .copyright {
            font-size: 18px;

            @media only screen and (max-width:800px) {
                padding: 16px 0;
            }
        }

        .logo {
            @media only screen and (max-width:800px) {
                padding: 16px 0;
            }

            width: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 48px;
            }
        }

        .msl {
            @media only screen and (max-width:800px) {
                padding: 16px 0;
                flex-direction: row;
            }

            height: 100px;
            padding: 0;
            margin: 0;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            li a {
                font-size: 14px;

                @media only screen and (max-width:800px) {
                    margin: 0 16px;
                }
            }
        }
    }

}