.slide-cursos {
  padding: 2em 0;

  .splide {
    .splide__track {
      padding: 3em 0;

      .splide__list {
        padding: 2em 0;

        .splide__slide {
          background: red;

          transition: .6s;

          @media (min-width:768px) {
            &:hover {
              transform: scale(1.1, 1.1);
              box-shadow: 0px 0px 10px #202020;
              z-index: 1068 !important;
            }
          }
        }
      }
    }
  }
}