.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  padding: 10vh 0;

  @media (max-width: 900px) {}

  @media (max-width: 900px) {
    display: none;
  }

  section[id].effect {
    animation: 0.5s scrollEffect;
  }

  @keyframes scrollEffect {
    from {
      left: 10vw;
      opacity: 0;
    }

    to {
      left: 0;
      opacity: 1;
    }
  }

  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 0px 0;
    touch-action: pan-y;
    transition: transform 0.9s;

    @media (max-width: 900px) {
      display: flex;
      width: 100%;
      margin: 0;
    }

    cursor: grab;
    align-items: center;
    // ITEMS

    .item {
      min-width: 20%;

      position: relative;
      transition: 0.3s ease all;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

      @media (max-width: 900px) {
        width: 270px;
        height: 200px;
      }

      z-index: 0;

      &:hover {
        z-index: 1;

        -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.75);
      }

      img {
        width: 100%;
        vertical-align: top;
        position: relative;
        z-index: -1;

        &:hover {
          position: relative;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
            -5px -5px 10px rgba(0, 0, 0, 0.3);
          z-index: 1;
          transform: translate(160px, -160px);
        }

        @media (max-width: 900px) {
          width: 100%;
          vertical-align: top;
        }
      }

      &:hover {
        transform: scale(1.2);
        transform-origin: center;
      }
    }

    a {
      position: absolute;
      color: #fff;

      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 6em;
      background: rgb(0, 0, 0);
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;

      @media (max-width: 900px) {
        display: none;
      }



      &:nth-of-type(1) {
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%);
      }

      &:nth-of-type(2) {
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%);
      }
    }
  }
}