.slide-cursos {
  padding: 2em 0;
  background: #202020;

  .splide {
    .splide__track {
      padding: 3em 0;

      .splide__list {
        padding: 2em 0;

        .splide__slide {
          background: red;

          transition: 0.6s;

          @media (min-width: 768px) {
            &:hover {
              transform: scale(1.4, 1.4);
              box-shadow: 0px 0px 10px #ff85f5;
              z-index: 1068 !important;
            }
          }
        }
      }
    }
  }
}
