@import './carrousel';

.cursos {
  width: 100%;
  padding: 1em 2em;

  @media(max-width:789px) {}

  .row {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;

    .cursos-titles {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 4em;
        line-height: 2em;
        font-weight: 700;
      }

      p {
        margin: 1em 0 0 0;
        text-align: center;

        color: #202020;
        font-size: 1.2em;
      }
    }
  }
}