$itemGrow: 1.2;
$duration: 250ms;

.cursos {
  width: 100%;

  position: relative;

  img {
    width: 100%;
  }

  padding-top: 10vh;
  background: rgb(0, 0, 0);

  @media (max-width: 900px) {
    padding: 1vh 0;
  }

  .row {
    background-color: transparent;
    width: 100%;
    margin: 0vh auto;
    position: relative;
    display: block;
    @import "./mobile";

    .cursos-titles {
      width: 90%;
      max-width: 550px;
      margin: 0 auto;
      padding: 10vh 0;

      @media (max-width: 900px) {
      }

      h1 {
        text-align: center;
        font-size: 56px;
        font-weight: 300;
        color: #eeee;
      }

      p {
        text-align: center;
        color: #eeee;

        font-size: 28px;
        font-weight: 300;

        width: 90%;
        max-width: 550px;
        margin: 0px auto;

        @media (max-width: 900px) {
          font-size: calc(24px + (4 / 900) * 100 * 1vmax);
        }
      }
    }

    @import "./carrousel";
  }
}
