.mb {
  width: 100%;
  overflow-x: auto;
  display: flex;

  flex-direction: row;

  padding: 0 0vw;

  &::-webkit-scrollbar {
    background: transparent;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $First;
  }

  @media (min-width: 900px) {
    display: none;
  }

  .crl {
    display: flex;
    width: 150px;
    padding: 0 0vw;
    height: 350px;
    margin: 0 0.2em;
    img {
      width: 150px;
      height: 350px;
    }
  }
}
