.mb {
    width: 100%;
    overflow-x: auto;
    display: flex;

    flex-direction: row;

    padding: 0 0vw;

    &::-webkit-scrollbar {
        background: transparent;
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: $First;
    }

    @media (min-width:900px) {
        display: none;
    }

    .crl {
        display: flex;
        width: 175px;
        height: 375px;
        padding: 0 0vw;
        position: relative;
        z-index: 1;

        &:hover {
            transform: scale(1.2);
            padding: 0 20px;
            z-index: 999;
            position: relative;
        }

        img {
            width: 175px;
            height: 375px;
        }
    }
}