header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  z-index: 1000;

  @media only screen and(max-width: 1200px) {
    overflow: initial;
    height: 100%;
    padding: 1vh 0;
    margin-top: 50px;
  }

  @media only screen and(max-width: 992px) {
    overflow: initial;
    height: 100%;
    padding: 1vh 0;
  }

  @media only screen and(max-width: 768px) {
    overflow: initial;
    height: 100%;
    padding: 1vh 0;
  }

  @media only screen and(max-width: 575px) {
    overflow: initial;
    height: 100%;
    padding: 1vh 0;
  }

  @media only screen and(max-width: 411px) {
    overflow: initial;
    height: 100%;
    padding: 1vh 0;
  }

  @media only screen and(max-width: 375px) {
    overflow: initial;
    height: 100%;
    padding-top: 32px;
  }

  @media only screen and(max-width: 320px) {
    overflow: initial;
    height: 100%;
    padding: 1vh 0;
  }

  @import "./animation";
  @import "./circles";
  @import "./row";
}