// BROWSER CONFIG NAV  --- ul
.desktop {
  display: flex;
  justify-content: baseline;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;

  // BROWSER CONFIG NAV

  // STYLE ON FROM TAG LI
}
