li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 30px;

    // mobile
    @media (max-width: 900px) {
        margin: 0 0;
        display: block;
        height: 0;
    }

    p {
        font-weight: 600;
    }

    list-style: none;

    a {
        text-decoration: none;
        position: relative;
        text-align: center;
        transition: width 1s;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: rgb(93, 92, 92);
        height: 100%;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px solid;
        padding: 8px 16px;
        border-radius: 1em;

        // CONFIG ICONS AND LINKS
        span {
            [name="home"] {
                margin-top: -1vh;
            }

            [name="enter"] {
                @media (max-width: 900px) {
                    margin-right: 5vw;
                }
            }

            ion-icon {
                margin: 0;
                padding: 0;

                @media (max-width: 900px) {
                    align-items: center;
                    justify-content: left;
                    margin-right: 4vw;
                }
            }

            &:nth-child(2) {
                font-size: 14px;

                @media (max-width: 900px) {
                    margin-left: -0.2vw;
                }
            }

            &:nth-child(1) {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1vw;
            }
        }

        // MOBILE DEVICE
        @media (max-width: 900px) {
            font-size: 1.5em;
            position: relative;
            font-weight: 600;

            &::after {
                position: absolute;
                left: 0;
                right: 0;

                z-index: 1068;

                top: 1.3em;
                height: 4px;

                background: $Second;

                // KEYFRAME EFFECTS
                animation: 0.5s effect cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }

        &:hover {
            color: $Second;
        }

        @keyframes effect {
            from {
                width: 0;
            }

            to {
                width: 100%;
            }
        }
    }
}