 // EFFECT OPEN MENU ON THE MOBILE DEVICES
 .desktop.on {
     @media (max-width: 900px) {
         transition: padding 0.5s;
         height: auto;
         box-shadow: 0 0 8px rgba(0, 0, 0, 0.185);
         z-index: 1068;
         padding: 8vh 0;
     }
 }