@mixin LetterOne {
  animation: letterTwo 5s infinite;
  animation-delay: 1s;
}

@mixin LetterTwo {
  animation: letterone 5s infinite;
  animation-delay: 1s;
}

@keyframes letterone {
  from {
    color: $First;
  }
  to {
    color: $Second;
  }
}

@keyframes letterTwo {
  from {
    color: $Second;
  }
  to {
    color: $First;
  }
}
