.navbar {
  width: 100%;
  background: #ffffffff;
  transition: position 1s;
  height: 72px;
  background: transparent;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  top: 0;
  left: 0;
  z-index: 1068;
  .row {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
    height: 100%;

    @media (max-width: 900px) {
      width: 100%;
      background: #ffffffff;
    }

    @import "./mobile";

    .desktop.on {
      @media (max-width: 900px) {
        transition: padding 0.5s;
        height: auto;
        z-index: 1068;
        padding: 10vh 0;
      }
    }

    .desktop {
      display: flex;
      margin: 0;

      padding: 0;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: 900px) {
        background: white;
        display: flex;
        overflow: hidden;
        padding: 0vh 0;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: center;
        place-items: center;
        position: absolute;
        height: 0;
        transition: padding 0.5s;
        z-index: 1068;
      }

      @media (min-width: 900px) {
        display: flex;
      }

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @media (max-width: 900px) {
          display: none;
        }

        span {
          font-weight: 600;

          .firt {
            color: $First;
            @import "./animationLogo";
            @include LetterOne;
          }

          .second {
            color: $Second;
            @import "./animationLogo";
            @include LetterTwo;
          }
        }

        img {
          width: 40px;
          margin-right: 1vw;
        }
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        height: 100%;

        // mobile
        @media (max-width: 900px) {
          margin: 5vh 0;
          display: block;
          height: auto;
        }

        p {
          font-weight: 600;
        }

        list-style: none;

        a {
          text-decoration: none;
          position: relative;
          text-align: center;
          transition: width 1s;
          font-weight: 400;

          @media (max-width: 900px) {
            font-size: 1.5em;
            position: relative;
            font-weight: 600;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;

              z-index: 1068;

              top: 1.3em;
              height: 4px;

              background: $Second;
              animation: 0.5s effect cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
          }

          &:hover {
            color: $Second;
            font-weight: 500;
          }

          &:hover::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;

            z-index: 1068;

            top: 1.8em;
            height: 3px;

            background: $Second;
            animation: 0.5s effect cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }

          @keyframes effect {
            from {
              width: 0;
            }

            to {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
