.navbar {
  width: 100%;
  background: transparent;
  transition: position 1s;
  height: 72px;
<<<<<<< HEAD
<<<<<<< HEAD
  background: transparent;
=======
>>>>>>> 9b7b31455b13dccf9272ad9db828c31d053dc75c
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  top: 0;
  left: 0;
  z-index: 1068;
<<<<<<< HEAD
=======

>>>>>>> 9b7b31455b13dccf9272ad9db828c31d053dc75c
  .row {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      width: 100%;
      background: #ffffffff;
    }
<<<<<<< HEAD

    @import "./mobile";

    .desktop.on {
      @media (max-width: 900px) {
        transition: padding 0.5s;
        height: auto;
        z-index: 1068;
        padding: 10vh 0;
=======

    @import "./mobile";


    .logo {
      flex-direction: row;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;

      width: 90%;
      max-width: 300px;

      @media (max-width: 900px) {
        display: none;
      }

      span {
        font-weight: 600;

        .firt {
          color: $First;
          @import "./animationLogo";
          @include LetterOne;
        }

        .second {
          color: $Second;
          @import "./animationLogo";
          @include LetterTwo;
        }
      }

      img {
        width: 40px;
        margin-right: 1vw;
>>>>>>> 9b7b31455b13dccf9272ad9db828c31d053dc75c
      }
    }

    // EFFECT OPEN MENU ON THE MOBILE DEVICES
    .desktop.on {
      @media (max-width: 900px) {
        transition: padding 0.5s;
        height: auto;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.185);
        z-index: 1068;
        padding: 8vh 0;
      }
    }

    // BROWSER CONFIG NAV
    .desktop {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

<<<<<<< HEAD
      @media (max-width: 900px) {
        background: white;
        display: flex;
        overflow: hidden;
        padding: 0vh 0;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: center;
        place-items: center;
        position: absolute;
        height: 0;
        transition: padding 0.5s;
        z-index: 1068;
      }

      @media (min-width: 900px) {
        display: flex;
=======
      width: 100%;
      height: 100%;

      margin: 0;
      padding: 0;
      // margin: 0 auto;

      // CONFIG ON THE DEVICE NAV
      @media (max-width: 900px) {
        position: absolute;

        display: flex;
        justify-content: flex-start !important;
        flex-direction: column;

        height: 0;

        overflow: hidden;

        padding: 0vh 0;
        background: rgb(255, 255, 255);
        transition: padding 0.5s;
        z-index: -1;
>>>>>>> 9b7b31455b13dccf9272ad9db828c31d053dc75c
      }

      // BROWSER CONFIG NAV
      @media (min-width: 900px) {
        display: flex;
<<<<<<< HEAD
        justify-content: center;
        align-items: center;
        height: 100%;

        @media (max-width: 900px) {
          display: none;
        }

        span {
          font-weight: 600;

          .firt {
            color: $First;
            @import "./animationLogo";
            @include LetterOne;
          }

          .second {
            color: $Second;
            @import "./animationLogo";
            @include LetterTwo;
          }
        }

        img {
          width: 40px;
          margin-right: 1vw;
        }
=======
>>>>>>> 9b7b31455b13dccf9272ad9db828c31d053dc75c
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        height: 100%;
        padding: 59px;

        // mobile
        @media (max-width: 900px) {
          margin: 0 0;
          display: block;
          height: 0;
        }

        // mobile
        @media (max-width: 900px) {
          margin: 5vh 0;
          display: block;
          height: auto;
        }

        p {
          font-weight: 600;
        }

        list-style: none;

        a {
          text-decoration: none;
          position: relative;
          text-align: center;
          transition: width 1s;
          font-weight: 600;
          font-size: 20px;
          display: flex;
          align-items: center;
          color: $color1;
          height: 100%;
          justify-content: center;

          // CONFIG ICONS AND LINKS
          span {
            [name="home"] {
              margin-top: -1vh;
            }

<<<<<<< HEAD
          @media (max-width: 900px) {
            font-size: 1.5em;
            position: relative;
            font-weight: 600;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;

              z-index: 1068;

              top: 1.3em;
              height: 4px;

              background: $Second;
              animation: 0.5s effect cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
          }
=======
            [name="enter"] {
              @media (max-width: 900px) {
                margin-right: 5vw;
              }
            }
>>>>>>> 9b7b31455b13dccf9272ad9db828c31d053dc75c

            ion-icon {
              margin: 0;
              padding: 0;

              @media (max-width: 900px) {
                align-items: center;
                justify-content: left;
                margin-right: 4vw;
              }
            }

            &:nth-child(2) {
              font-size: 14px;

              @media (max-width: 900px) {
                margin-left: -0.2vw;
              }
            }

            &:nth-child(1) {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 1vw;
            }
          }

          // MOBILE DEVICE
          @media (max-width: 900px) {
            font-size: 1.5em;
            position: relative;
            font-weight: 600;

            &::after {
              position: absolute;
              left: 0;
              right: 0;

              z-index: 1068;

              top: 1.3em;
              height: 4px;

              background: $Second;

              // KEYFRAME EFFECTS
              animation: 0.5s effect cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
          }

          &:hover {
            color: $Second;
          }

          @keyframes effect {
            from {
              width: 0;
            }

            to {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
=======
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1068;

<<<<<<< HEAD
  @import './row';
}
>>>>>>> 95a271c9fd806e5c00f7e2fffb9c52ca15c6996a
=======
  @import "./row";
}
>>>>>>> 1d1b12401d5014958bb7e283feb3ac46aba77063
