.logo {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    width: 90%;
    max-width: 300px;

    @media (max-width: 900px) {
        display: none;
    }

    span {
        font-weight: 600;

        .firt {
            color: $First;
            @import "./animationLogo";
            @include LetterOne;
        }

        .second {
            color: $Second;
            @import "./animationLogo";
            @include LetterTwo;
        }
    }

    img {
        width: 40px;
        margin-right: 1vw;
    }
}