@mixin MaxWidth900 {
  background: white;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 100vh;
  transition: 0.5s;
}

@mixin minWidth900 {
  display: flex;
}
