@media (min-width: 900px) {
  .device {
    display: none;
  }
}

@media (max-width: 900px) {
  .device {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 10000;
    position: absolute;
    top: 0;
    padding: 0 1em;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        width: 40px;
        margin-right: 1ch;
      }

      span {
        font-weight: 600;

        .firt {
          color: $First;
          @import "./animationLogo";
          @include LetterOne;
        }

        .second {
          color: $Second;
          @import "./animationLogo";
          @include LetterTwo;
        }
      }
    }

    ul {
      margin: 0;
      height: 100%;
      flex-direction: column;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      li.toggleClass {
        &:nth-child(1) {
          transform: rotate(45deg) translateX(8px);
          background: $First;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translateX(8px);
          background: $Second;
        }
      }

      li {
        margin: 0.2ch 0;
        width: 30px;
        height: 3px;
        background: black;
        transition: 0.5s;
      }
    }
  }
}
