.row {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: transparent;

    //  CONFIG ROW 

    @media only screen and (min-width: 900px) {
        max-width: 1000px;
        padding-top: 4em;
        justify-content: baseline;

    }

    @media (max-width: 900px) {
        width: 100%;

    }

    @import "./mobile";

    @import './logo';
    @import './desktop/desktop';


}